/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



#logo {
	background-image: url('../img/gotravellogo.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 260px;
	height: 67px;
	text-indent: -99999px;
	border: 0;
	margin: 0px auto 30px auto;
}


header {
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 690px;
	background-color: #EDECE8;
	padding: 190px 0;
	box-sizing: border-box;
}

h2.intro {
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed';
	font-style: italic; 
	font-size: 70px;
	margin: 0 0 60px 0;
}








div.container{
	width: 100%;

	margin: 0 auto;
}

/* navigation styles*/

nav {
	width: 40%;
	height: 50px;
	position: center;
	text-align: center;
	margin: 0 auto;
	border: solid; color: white; border-radius: 8px; 
	border-width: 1px;
	border-left-style: none; border-right-style: none;
	list-style: none;
	color: white;

}


nav ul{
	color: white;
	margin: 15px
}

nav ul li {
	position: center;
	text-align: center;
	display: inline;
	margin: 0;
	padding: 15px 18px 0px 18px;
	list-style: none;
	font-family:'Open Sans'; font-size: 18px;
  	font-weight: normal;
	
}

nav a:hover {
	color: #EDECE8;
}	

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: white;
}
a:link {
    text-decoration: none;
}

section.about {
	width: 100%;
	height: 420px;
	background-color: #EDECE8;	
	padding: 80px 0;
	box-sizing: border-box;
}


.weare {
	position: center;
	text-align: center;
	color: #D9A776;
	font-family: 'Open Sans Condensed';
	font-style: italic; 
	font-size: 70px;
	margin: 0 auto;
}


p.about-text{
	color: #2D3940;
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-size: 22px;
	text-align: center;
	margin: 30px 0 0 10px;
}

section.package {
	background-image: url('../img/packages.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 797px;
	background-color: #EDECE8;
	padding: 190px 0;
	box-sizing: border-box;	
}


section.deals {

	width: 940px;
	height: 350px;
	border: solid; border-color: white;
	box-sizing: border-box;	
	position: center;
	margin: 0 auto;
}


h2.packages {
	text-align: center;
	color: white;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 60px;
	margin: 0 0 60px 0;
}

section.deal1 {

	width: 260px;
	height: 350px;
	background-color: #EDECE8;
	padding: 20px 0;
	box-sizing: border-box;	
	float: left;
	margin: 0 25px 0 25px;
}

#paris-icon {
	background-image: url('../img/paris.png');
	height: 127px;
	width: 127px;
	background-repeat: none;
	margin: 0 auto;

	}

section.deal2 {

	width: 260px;
	height: 350px;
	background-color: #EDECE8;
	padding: 20px 0;
	box-sizing: border-box;	
	float: left;
	margin: 0 25px 0 25px;
}
section.deal3 {

	width: 260px;
	height: 350px;
	background-color: #EDECE8;
	padding: 20px 0;
	box-sizing: border-box;
	float: left;
	margin: 0 25px 0 25px;	
}

